* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -85px;
}

.wrapper:after {
  content: '';
  display: block;
}

body {
  font-family: 'Euclid Circular A';

  background-color: rgb(43, 42, 42);
  overflow-x: hidden;
}

/*HEADER*/

@font-face {
  font-family: 'Wood Block';
  src: url('WoodBlockCG.otf');
  src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
    url('WoodBlockCG.otf') format('opentype');
}
#logo {
  width: 60px;

  position: fixed;
  top: 2%;
  left: 2%;
}
nav {
  width: 100% 100%;
  background-color: aqua;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  z-index: 20;
  right: 0;
  top: 2%;
  position: fixed;
}
nav li {
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: white;
}
#nav-links {
  font-size: 28px;

  font-family: 'Lato', sans-serif;
}
#nav-heading {
  font-size: 32px;
}
.csi {
  background-color: #2997ff;
  background-image: linear-gradient(45deg, #2997ff 50%, #fbbc05 50%); /*fbbc05*/
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.csi h1 {
  margin: 0;
  /* letter-spacing: 15px; */
  font-family: 'Wood Block';
  font-size: 300px;
  text-align: center;
  background: linear-gradient(45deg, #ffe79f 50%, #0c2d4b 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* EVENT CARD FLIP */

/* *, *:before, *:after {
    box-sizing: inherit;
  } */

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
}

/* Month/Year Selector */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #ede7e4;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #626d9d;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: '';
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #ede7e4 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #5e6997;
}
.select-styled:active,
.select-styled.active {
  background-color: #58628d;
}
.select-styled:active:after,
.select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #ede7e4 transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #58628d;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #4e577e;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #626d9d;
  background: #ede7e4;
}
.select-options li[rel='hide'] {
  display: none;
}

@media screen and (min-width: 1380px) {
  .box-container {
    flex-direction: row;
  }
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 800px;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #3b2170;
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  /* padding: 60px; */
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;

  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 60%;
}

.flip-box-header {
  font-size: 34px;
  margin-bottom: 5%;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;

  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center a {
  margin-right: 20px;
}

/*IMAGE */

h1 {
  font-weight: 600;
  text-align: center;
  color: white;
}

h2 {
  font-weight: 700;
  color: #ffbd59;
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
}

.event-img {
  width: 250px;
  border-radius: 10px;

  margin-top: 10px;
  margin-bottom: -50px;
  margin-left: -10%;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
}

.box-text {
  margin-top: -15%;
}

.img-text {
  margin-top: -35%;
  margin-left: -10%;
  color: #ffbd59;
}

.box-text-back {
  margin-top: -10%;
}

.date {
  color: #ffbd59;
  font-weight: 500;
}

/*MEDIA QUERIES */
@media only screen and (max-width: 481px) {
  .flip-box-header,
  h3,
  h2 {
    font-size: 28px;
  }

  .flip-box p {
    font-size: 18px;
  }

  .flip-box-back p {
    text-align: justify;
  }

  .box-container {
    height: 700px;
  }

  .flip-box-front,
  .flip-box-back {
    height: 620px;
  }

  .box-text {
    margin-top: -40%;
  }

  .flip-box-header {
    margin-top: -90%;
  }

  .event-img {
    width: 180px;
    margin-left: 0;
    margin-bottom: -120%;
  }

  .img-text {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -500%;
  }

  .event-date {
    margin-top: -10%;
  }
}
/* Scroll Button */
.scroll-top {
  z-index: 1049;
  position: fixed;
  visibility: visible;
  bottom: 5%;
  right: 5%;
  background: #0d0d0d;
  opacity: 0.6;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 0;
}

.scroll-top a {
  color: #ec644a;
}

/* Footer */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* height: 200px; */

  margin-top: 200px;

  /*To check where the footer is*/
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  padding: 50px;
}

footer .horizontal-bar {
  display: block;
  height: 1px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-left: 150px;
  position: absolute;
  background-color: gray;
  z-index: -400;

  /* To check where this is*/
}

footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logo h1 {
  font-family: 'Crimson Text', serif;

  margin: auto;
  text-align: center;
  width: fit-content;
  padding: 10px 50px 0px 50px;
  background-color: rgb(43, 42, 42);
  z-index: 200;
}

footer .center {
  display: block;
  margin: auto;
}

footer .vertical {
  width: 1px;
}

footer .vertical-bar {
  height: 80px;
}

footer #floatingTextarea {
  overflow: hidden;
}

footer .contact-us {
  color: #129db0;
  font-weight: bold;

  width: 50%;
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

footer .contact-details-and-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

footer .contact-details {
  width: 300px;
  margin-right: 150px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

footer .form-control {
  width: 300px;
  margin-top: 10px;
}

footer .location,
footer .email {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

footer .location-icon,
footer .email-icon {
  margin-right: 20px;
}

footer .contact-form button {
  margin-top: 5px;
  width: fit-content;
}

footer .fancy-underline {
  background-image: linear-gradient(120deg, #757f9a, #d7dde8 100%);
  background-repeat: no-repeat;
  background-size: 150px 0.1em;
  background-position: center bottom;
  transition: background-size 0.25s ease-in;
}

footer .copyright {
  position: bottom;
  margin-top: 20px;
  background-color: black;
  text-align: center;
  color: #fff;
}
